*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Handlee', cursive;
    --pink: #f17d7b;
    --gray: #282c2e;
    --white: #feffff;
}


body{
    font-family: var(--font);
    height: 100vh;
    background-color: var(--pink);

}

header{
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
    background-color: var(--gray);
}

main{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tabela{
    width: 60%;
    height: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.container-tabela::-webkit-scrollbar{
    width: 3px;
    height: 7px;
    background-color: var(--pink);
}

.container-tabela::-webkit-scrollbar-thumb{
    background: var(--gray);
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);
    font-weight: bolder;
}

a, table{
    text-decoration: none;
    color: var(--gray);
}

a:hover{
    text-decoration: underline var(--gray);
}

table, tr, td{
    border: 1px solid var(--gray);
}

tr, td{
    padding: 4px;
    font-size: 1.2rem;
}

thead th{
    padding: 2px;
    font-size: 1.5rem;
    background-color: var(--gray);
    color: var(--white);
}

thead th:nth-child(1){
    width: 30%;
}