*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-green: #1a5445;
    --border-green: #518421;
    --shadow-green: #0005;
    --backgound-container: #fde9fc;
}


body{
    background-color: var(--background-green);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.container{
    border: 10px solid var(--border-green);
    box-shadow:4px 4px var(--shadow-green);
    border-radius: 30px;
    height: 50%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    background-color: var(--backgound-container);
}

button{
    background-color: var(--background-green);
    border-radius: 3px;
    width: 150px;
    color: var(--backgound-container);
    font-family: 'Roboto Mono', monospace;
}

.azul{
    color: blue;
}

.vermelha{
    color: red;
}
