*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    font-family: 'Handlee', cursive;
    --background-color: #6b7c90;
    --background-items: #551214;
    --background-span: #d52e1a;
    --background-hover: #869fbd;
    --text-color: #eef8fc;
    --font-size:1.4rem;
}



body{
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding-block: 32px;
    font-weight: bolder;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 24px;
    font-size: 1.4rem;
}

.item{
    padding-block: 16px;
    padding-inline: 16px;
    border-radius: 25px;
    background-color: var(--background-items);
    height: 50%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.numeros{
    flex-grow: 1;
    padding: 0px 4px;
}

.numeros span{
    width: 7%;
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
    border: 4px var(--background-items) solid;
    border-radius: 50px;
    background-color: var(--background-span);
}

input{
    outline: none;
    height: 20px;
}

input, button{
    border-radius: 6px;
    padding: 4px;
    border: none;
}

button{
    background-color: var(--text-color);
    font-family: 'Handlee', cursive;
    font-weight: bolder;
}

button:hover{
    background-color: var(--background-hover);
}