*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(170, 89, 236);
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 32px;
    gap: 32px;
}

.item{
    height: 90px;
    width: 70%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
}

.texto{
    background-color: black;
    color: gainsboro;
    font-size: 64px
}

.quadrado{
    width: 50px;
    height: 50px;
    background-color: goldenrod;
    transition: 0.5s;
    cursor: pointer;
}

.roxo{
    background-color: darkmagenta;
    rotate: 180deg;
}

.circulo{
    border-radius: 50%;
    rotate: 180deg;
}

.esquerda{
    transform: translate(-500px);
}

#forma4{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 40px;
}

.meio-circulo{
    rotate: 180deg;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 50px;
}

.aumentar{
    border-radius: 30%;
    width: 70px;
    height: 70px;
}

.diminuir{
    border-radius: 30%;
    width: 30px;
    height: 30px;
}

.transparente{
    background-color: transparent;
    width: 20px;
    height: 20px;
}