*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Wellfleet', serif;
    --background-pink: #d78f9a;
    --background-container: #1f0a08;
    --icons: #e04640;
    --roxo-quadrado: darkmagenta;
    --texto: gainsboro;
}

header{
    width: 100vw;
    padding-block: 8px;
    background-color: var(--background-pink);
    position:fixed;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    background-color: var(--background-pink);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 64px 32px;
    gap: 32px;
}

.item{
    border: 2px solid var(--icons);
    background-color: var(--background-container);
    width: 65%;
    height: 80px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding-inline: 32px;
}

.texto{
    color: var(--texto);
}

.quadrado{
    border: 1px solid var(--background-pink);
    background-color: var(--icons);
    width: 45px;
    height: 45px;
    transition: 0.5s;
    cursor: pointer;
}

.roxo{
    background-color: var(--roxo-quadrado);
    rotate: 180deg;
}

.circulo{
    border-radius: 50%;
    transform: rotate(180deg);
}

.esquerda{
    transform: translate(-300px);
}

#forma4{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 40px;
}

.meio-circulo{
    rotate: 180deg;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 50px;
}

.aumentar{
    border-radius: 30%;
    width: 70px;
    height: 70px;
}

.diminuir{
    border-radius: 30%;
    width: 30px;
    height: 30px;
}

.transparente{
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}