*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: aqua;
    padding: 16px;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


input{
    outline: none;
    padding-left: 2px;
    border: none;
}

label, h4{
    place-self: flex-start;
}