*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Handlee', cursive;
    --background-brown: #c7a497;
    --container-brown: #6c5d55;
    --decoration-orange: #da4821;
    --background-white: #f5fdfe;
    --text-color: black;
    --shadow: #0005
}


body{
    font-weight: bolder;
    height: 100vh;
    width: 100vw;
    color: var(--background-white);
    background-color: var(--background-brown);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    color: var(--container-brown);
    text-decoration: underline dotted var(--container-brown);
}

.container{
    display: flex;
    align-items: flex-start;
    padding-block: 16px;
    gap: 16px;
}

.item{
    height: fit-content;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    gap: 8px;
    border-radius: 25px;
    box-shadow:4px 4px var(--shadow);
    background-color: var(--container-brown);
}


input, .resultado{
    width: 55%;
    height: 20px;
    font-size: 0.9rem;
    color: var(--text-color);
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

input, span{
    border-radius: 4px;
    border: 2px solid var(--decoration-orange);
    background-color: var(--background-white);
}

input:hover{
    outline: 2px var(--decoration-orange) solid;
}

button{
    width: 80%;
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    font-size: 0.7rem;
    border-radius: 4px;
    background-color: var(--background-white);
    cursor: pointer;
}

button:hover{
    color: var(--background-white);
    background-color: var(--decoration-orange);
    border: 2px solid var(--decoration-orange);
    transform: scale(1s);
}